*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 150px;
    height: 150px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;
}

.card_front, .card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 30%);
    backface-visibility: hidden;
}
.card_front{
    background-color: #101c2c;
    transform: rotateY(180deg);
}
.card_back{
    color: white;
    background-color: #6641cc;
    font-size: 1.5rem;
    font-weight: 600;
}
.flip{
    transform: rotateY(180deg);
}

#gameOver{
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.9);
    color:white;

    font-size: 2rem;
    font-weight: 600;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* button */
#restart{
    padding: 1rem;
    margin-top: 1rem;
    
    font-size: 1rem;

    color: white;
    background-color: red;
    
    border: none;
    border-radius: 10px;

    cursor: pointer;
}
/* tabuleiro*/
.tabuleiro{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1.5rem;
}